/* *{
    outline: 1px solid aqua;
} */

.container-fluid{
    --bs-gutter-x:0;
}

/*NAVBAR*/
#navbar_bg {
    background-color: rgb(14, 158, 229);
    
    >li a.nav-link {
        color: white;
        margin: 2px;
    }
    >li img{
        vertical-align: middle;
    }
}


/*SEARCH SECTION*/
#searchbar_section{
    display: flex;
    justify-content: center;
    margin: 2% 0%;  
}
    img[alt=logo]{
        vertical-align: unset;
        margin-right: 25%;
    }
    #searchbar{
        border-radius: 100px;
        border: 5px solid rgb(224, 242, 252);
        width: 30%;
        text-align: center;
    }
    #search{
        position: relative;
        right: 130%;
        top: 25%;
    }
    #cart_link{
        border: 1px solid rgb(255,168, 0);
        width: 50px;
        height: 50px;
        background-color: rgb(255,168, 0);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 1%;
        margin-top: 12%;
    }

/* TABS */
#tabs{
    border-top: 5px solid rgb(14, 158, 229);
}
    #tabs button{
        font-weight: bolder;
        color: black;
        background-color: transparent;
        height: 50px;
        border: none;
        border-radius: 0;
        font-size: 14px;
    }
    #tabs button:hover, #tabs button:active{
        background-color: rgb(14, 158, 229);
        color: white;
    }

/* CAROUSEL */
#carousel_tab{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel_box{
    width: 45%;
    height: 60%;
    background-color: white;
    position: absolute;
    margin:  0px auto;
    text-align: center;

    >p:nth-child(1){
        font-size: 24px;
        color: red;
        margin-top: 7%;
    }
    >p:nth-child(2){
        font-size: 50px;
        position: relative;
        bottom: 5%;
    }
    >p span{
        color: rgb(14, 158, 229);
    }
    >p:nth-child(3){
        font-size: 12px;
        position: relative;
        bottom: 10%;
        font-weight: 500;
    }
    >p{
        margin: 0px;
    }
    >button{
        background-color: red;
        color: white;
        border: none;
        border-radius: 8%;
        width: 25%;
        height: 15%;
    }
    >button:hover,>button:active{
        background-color: darkred;
    }
}

/* CENTER PART1 */
#cp_1{
    text-align: center;

    >:nth-child(1){
        position: relative;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(14, 158, 229);

        >:nth-child(1){
            border-bottom: 5px solid red;
            width: 200px;
            position: absolute;
            top: 95%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    >:nth-child(2){
        font-size: 13px;
    }
    >:nth-child(n+3):nth-child(-n+5){
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 350px;
        background-repeat: no-repeat;
        background-size:contain;
        
        >#circles{
            background-color: white;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            z-index: 1;
            position: absolute;
        }
    
    }
    >:nth-child(3){
        background: url("/img/carousel/Rectangle 37.png");
        >:nth-child(1){
            >:nth-child(1){
                font-size: 13px;
                font-weight: bold;
                margin: 27% 0 0 0;
    
            }
            >:nth-child(n+2):nth-child(-n+4){
                color: red;
                position: relative;
            }
            >:nth-child(2){
                font-size: 55px;
                font-weight: bolder;
                bottom: 10%;
                margin-left: 20%;
            }
            >:nth-child(3){
                font-size: 30px;
                font-weight: bolder;
                bottom: 20%;
                right: 1%;
            }
            >:nth-child(4){
                font-size: 20px;
                font-weight: bolder;
                right: 18%;
                bottom: 10%;
            }
            >:nth-child(5){
                color: rgb(14, 158, 229);
                font-weight: bolder;
                position: relative;
                bottom: 20%;
                font-size: 20px;
            }
        }
    }
    >:nth-child(4){
        background: url("/img/carousel/Layer 77 copy 2.png");
        >:nth-child(1){
    
            >:nth-child(1){
                font-size: 13px;
                font-weight: bold;
                margin: 27% 0 0 0;
            }
            >:nth-child(2){
                color: red;
                font-weight: bold;
                font-size: 13px;
                position: relative;
                bottom: 1%;
            }
            >:nth-child(3){
                color: rgb(14, 158, 229);
                font-weight: bolder;
                font-size: 20px;
                position: relative;
                bottom: 15%;
            }
            >:nth-child(4){
                font-size: 9px;
                position: relative;
                bottom: 15%;
                text-align: center;
            }
    
        }
    }
    >:nth-child(5){
        background: url("img/carousel/Layer 110.png");
        >:nth-child(1){
            >:nth-child(1){
                font-size: 13px;
                font-weight: bold;
                margin: 27% 0 0 0;
                color: red;
            }
            >:nth-child(2){
                color: black;
                font-weight: bold;
                font-size: 13px;
                position: relative;
                bottom: 1%;
            }
            >:nth-child(3){
                color: rgb(14, 158, 229);
                font-weight: bolder;
                font-size: 20px;
                position: relative;
                bottom: 14%;
            }
            >:nth-child(4){
                font-size: 9px;
                position: relative;
                bottom: 15%;
                text-align: center;
            }
        }
    }
}

/*CENTER PART 2*/
#cp_2{
    text-align: center;
    position: relative;
    
    >:nth-child(1){
        position: relative;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(14, 158, 229);

        >:nth-child(1){
            border: 3px solid red  ;
            width: 200px;
            margin: auto;
            position: absolute;
            top: 95%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    >div:not(:nth-child(1)){
        display: inline-block;
        margin: 2%;

        >a{
            text-decoration: none;
            font-weight: bold;
            color: black;

        }
        >a:hover{
            text-decoration: underline;
        }
    }
}

/*CENTER PART 3*/
#cp_3{
    text-align: center;
    position: relative;

    >:nth-child(1){
        position: relative;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(14, 158, 229);

        >:nth-child(1){
            border: 3px solid red  ;
            width: 200px;
            margin: auto;
            position: absolute;
            top: 95%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    >p{
        margin: 2% auto;
        font-size: 13px;
    }
    .card{
        text-align: start;
        display: inline-block;
        width: 215px;
        font-size: 13px;
        border: none;
    }
    #carousel_tab2 .carousel-control-prev-icon,#carousel_tab2 .carousel-control-next-icon{
        background-color: rgb(14, 158, 229);
    }
    #ratings{
        margin: 0 auto 5% auto;
    }
    #addtocart{
        background-color: rgb(2, 223, 250);
        color: white;
        border: none;
        width: 212px;
        height: 40px;
    }
    #addcart{
        border: 2px solid rgb(2, 223, 250);
    }
    #addtocart2{
        position: relative;
        color: white;
        border: none;
        width: 210px;
        height: 40px;
        background-color: rgb(234, 0, 8);

        >div{
            background-color: white;
            color: black;
            width: 170px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 18%;
            top: 12%;

            >span{
                position: relative;
                top: 20%;
            }
        }
        >img{
            position: relative;
            left: 42%;
        }
    }
    #carousel_tab2{
        margin-bottom: 5%;
    }
    #carousel_tab3{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #carousel_box2{
        width: 550px;
        height: 290px;
        background-color: white;
        position: absolute;
        margin:  0px auto;
        text-align: center;

        >:nth-child(1){
            font-size: 40px;
            font-weight: bold;

            >span{
                color: rgb(2, 223, 250);
            }
        }
        >p{
            font-size: 15px;
        }
        >button{
            color: white;
            background-color: rgb(255, 166, 30);
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 3%;
        }
        >button:hover{
            background-color: rgb(233, 151, 29);
        }
    }
}

/*ARTICLES*/
#articles{
    position: relative;
    text-align: center;

    >:nth-child(1){
        position: relative;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(14, 158, 229);

        >:nth-child(1){
            border-bottom: 5px solid red;
            width: 200px;
            position: absolute;
            top: 95%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .card{
        display: inline-flex;
        width: 200px;
        border: none;
        text-align: start;
        margin: 2%;

        >.card-title{
            margin-bottom: 3%;
            margin-left: 5%;
            font-weight: bold;
        }
        >a{
            margin-left: 5%;
            text-decoration: none;
            font-weight: 500;
        }
        >a:hover{
            text-decoration: underline;
        }
    }
    >button{
        margin: 3%;
        width: 300px;
        height: 50px;
        border-radius: 30px;
        background-color: transparent;
        border: 3px solid salmon;
    }
    >button:hover{
        background-color: salmon;
        color: white;
    }
}

/*SIGN UP*/
#sign_up{
    position: relative;

}
#signup_bar{
    background-color: rgb(14, 157, 229);
    width: 100%;
    height: 100px;
    margin: 7% 0 3% 0;
    display: flex;
    align-items: center;
    justify-content:center;

    >div{
        display: inline-flex;
        color: white;
        width: 350px;
        margin-right: 5%;

        >img{
            margin-right: 10%;
            width: 40px;
            height: 30px;
        }

    }
    >input{
        width: 300px;
        margin: 0 2%;
    }

    >button{
        width: 150px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: rgb(255, 168, 0);
        color: white;
    }
    >button:hover{
        background-color: rgb(233, 151, 29);
    }
}

/*FOOTER*/
#footer{
    position: relative;
}
#footer_top{
    display: flex;
    justify-content: center;
    align-items: center;

    >table{
        width: 80%;

        >thead th{
            color: rgb(14, 157, 229);
            margin: 0 5%;
            text-align: center;
        }

        >tbody p{
            margin-top: 5%;
            font-size: 12px;
        }
        >tbody td:not(:nth-child(4)),thead th:not(:nth-child(4)){
            border-right: 2px solid rgb(14, 157, 229);
        }
        >tbody td ul li,tbody td ul li a{
           color: rgb(14, 157, 229);
           text-decoration: none;
        }
        >tbody td ul li a:hover{
            text-decoration: underline;
        }
        >tbody td:nth-child(n+2):nth-child(-n+4){
            height: 100px;
        }
    }
}
#footer_bottom{
    margin: 3% 0 0 0;
    width: 100%;
    height: 80px;
    background-color: rgb(14, 157, 229);
    display: flex;
    align-items: center;
    justify-content: center;

    >span{
        color: white;
        margin-right: 50%;
        font-size: 13px;
    }
    >div{
        display: inline-flex;
        align-items: center;
        justify-content: center;

       >a{
        border: 1px solid white;
        padding: 6px;
        border-radius: 500px;
        margin: 0 5%;
       }
       >:nth-child(1){
        border: 1px solid white;
        padding: 5px;
        border-radius: 500px;
        margin: 0 5%;
        width: 78px;

        >img{
            margin-left: 30%;
        }
       }
    }
}